<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Horror Reviews</title>
  <link href="/style.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Creepster" rel="stylesheet">
</head>

<body class="review">
  <div th:each="review: ${reviews}">
    <h1 th:text="${review.title}"></h1>
    <img th:src="${review.rndImg}" alt="Review Cover" width="600" height="450" />
    <a th:href="@{/medium(id=${review.medium.id})}" th:text="${review.medium.type}"></a>
    <div id="content">
      <p th:text="${review.content}"></p>
      <p th:text="${review.ranking}"></p>
      <section>
        <h2><a href="http://localhost:8080/tags">tags</a></h2>
        <div th:each="tag : ${tags}">
          <a th:href="@{/tag(id=${tag.id})}" th:text="${tag.name}"></a>
        </div>
      <div>
<form method = "POST">
  <div>
  <label> Add Tag to this Review </label>
  <input type="text" name="tagName" />
</div>
<div>
  <button type="submit" th:value="${review.title}" name="reviewTitle" th:formaction="@{add-tag}">add tag</button>
</div>

</form>
</div>
    </div>
    <form method = "POST">
      <button type="submit" th:value="${review.id}" name="reviewId" th:formaction="@{del-review}"> delete this review </button>
    </form>

  </div>


  <div class="breadcrumb">
    <a href="http://localhost:8080/reviews">Back To Home</a>
  </div>
</body>

</html>
