<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Horror Reviews</title>
  <link href="/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Creepster" rel="stylesheet">
</head>

<body class="menu">
  <h1>Horror Reviews</h1>

  <div th:each="review : ${reviews}">
    <li>
      <a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a>
    </li>
  </div>

  <div class="add-review">
    <button type="button" name="add-review">Add Your Own Review!</button>

    <form method="POST">
      <div>
        <label>Enter Review Title: </label>
        <input type="text" name="reviewTitle" />
      </div>
      <div>
        <label>Enter an Image URL address for your review:</label>
        <input type="text" name="img" />
      </div>

      <div>
        <label>Enter your review content:</label>
        <input type="text" name="reviewContent" />
      </div>

      <div>
        <label>Enter your rank for the item you're reviewing here</label>
        <input type="text" name="reviewRanking" />
      </div>

      <div>
        <label>Enter the medium of the subject of your review (ex. film, tv show):</label>
        <input type="text" name="mediumType" />
      </div>

      <div>
        <button th:formaction="@{add-review}">add review</button> </div>
    </form>

  </div>

  <div class="find-by-tag">
    <form method="POST">
      <div>
        <label>Enter Tag Name:</label>
        <input type="text" name="tagName" />
      </div>

      <div>
        <button th:formaction="@{/find-by-tag}"> find Reviews </button>
      </div>

    </form>
  </div>

</body>

</html>
