<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Horror Review</title>
</head>

<body>
  <div class="review" th:each="review: ${reviews}">
    <h1 th:text="${review.title}"></h1>
    <span th:text="'(' + ${review.category} + ')'"></span>
    <img th:src="${review.img}" alt="Review Cover" width="600" height="450" />
  <div class="body">
    <p th:text="${review.content}"></p>
    <p th:text="${review.ranking}"></p>
    </div>
  </div>
  <div class="breadcrumb">
    <a href="http://localhost:8080/show-reviews">Back To Home</a>
  </div>
</body>

</html>
