<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Horror Reviews</title>
  <link href="/style.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Creepster" rel="stylesheet">
</head>

<body>
  <header>
    <div th:each="tag : ${tags}">
      <h1 th:text="${tag.name} + ' horror reviews'"></h1>
      <h6 th:text="${tag.description}"></h6>
    </div>
  </header>

  <div th:each="review : ${reviews}">
    <a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a>
  </div>

  <div class="breadcrumb">
    <a href="http://localhost:8080/reviews">Back To Home</a>
  </div>
</body>

</html>
